@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
html, body {
  background-color: #2c3e50;
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-around;
  position: relative;
  width: 100%;
}
.container section {
  width: 150%;
  height: 100vh;
  flex: 1;
  display: flex;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color:;

}
.container section:nth-child(1) .image {
  background-image: url(../../images/bkg1.jpg);
}
.container section:nth-child(2) .image {
  background-image: url(../../images/bkg2.jpeg);
}
.container section:nth-child(3) .image {
  background-image: url(../../images/bkg2.jpeg);
}
.container section .image {
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 500;
  opacity: 0.7;
}
.container section .stuff {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  max-width: 70%;
  justify-content: center;
  text-align: center;
  z-index: 1000;
  color: #000;
  margin: 0 auto;
  font-size: 26px;
  position: relative;
}
.container section .stuff h2 {
  margin: 0px;
}
.container section .stuff:before, .container section .stuff:after {
  width: 0%;
  height: 1px;
  display: block;
  background-color: #d35400;
  content: "";
  margin: 30px 0;
}

.at-twitter {
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: #f1c40f;
  z-index: 5000;
}
.at-twitter:visited {
  color: #f1c40f;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover, a:focus {
  color: inherit;
  text-decoration: underline;
}

.btn {
  border-radius: 0.25rem;
}
