.page-body {
    background-color:white; 
}

.topbar-container {
    border-bottom: 1px solid #e7ebf3;
    background: #f7f8fb;
    font-size: 20px;
    line-height: 24px;
    margin-top: 25px;
    padding: 15px 0px 15px 25px;
    color: #505050;
}

.property-container {
    margin: 0 auto;
    margin-bottom: 20px;
    padding:20px;
    padding-top:20px;
}

.carousel {
    width:100%;
    padding-bottom:5px;
    margin: 15px 0 15px 0;
    margin-top:0;
}

.carousel-inner {
    height:500px;
}

ol > li.active {
    background-color: rgba(182, 46, 57, .75);
}

.line-style {
    background-color: rgba(182, 46, 57, 0.75);
    height: 1px;
}

.carousel-control-prev, .carousel-control-next {
    background-color: rgb(0, 0, 0);
}
/* .carousel-inner > .carousel-item > img {
    width:500px;
    height:500px;
  } */
