.user-profile-page {
	font-family: "Helvetica Neue",helvetica,arial,sans-serif;
}

.account-header {
	border-bottom: 1px solid #e7ebf3;
	background: #f7f8fb;
	font-size: 20px;
	line-height: 24px;
	margin-top: 25px;
	padding: 15px 0px 15px 25px;
	color: #505050;
}

.manage-account-nav a {
	color: #96A3B6;
}

.account-nav-link {
	padding: 10px 0px 10px 0px;
	margin: 0px 20px 0px 0px;
}

.nav-tabs .account-nav-link.active {
    color: #af2d37;
    background-color: #fff;
    border-bottom: 2px solid #af2d37;

}

.nav-tabs {
	padding-left: 25px;

}